
body {background-color: #C0C0C0}

body {text-align: center;
	font-family: Arial;}

header {text-align: center;}

h1 {text-align: center;
	font-family: Arial;
font-size: 40px
vertical-align: ;
padding-bottom: 
}

img {padding-left: 20px
padding-right: 20px;}
 
 h2 {font-family: Arial
font-size: 12px;
text-align: center;
padding-right: ;
padding-left: 
 }

 h4 {float: right;
 	font-family: Arial
font-size: 10px;
text-align: center;
padding-right: ;
padding-left}

aside {float: left; ;
text-align: center; ;
margin-left: : 
margin-right: 
padding-left:
padding-bottom: 20px;  ;
padding-right:  }

div {
	float: right
	text-align: center;
	word-wrap: ;
  width: ;
  padding-right: ;
  padding-left: ;
	margin-left: : ;
	margin-right: :  } 
 
p {color: #333; font-size: 12px; font-family: Arial; vertical-align: ; padding: ;}
