
body {background-color: #C0C0C0}

body {text-align: center;
	font-family: Arial;}

header {text-align: center;}

h1 {text-align: center;
	font-family: Arial;
font-size: 40px
vertical-align: ;
padding-bottom: 
}
 
 h2 {font-family: Arial
font-size: 12px;
text-align: center;
padding-right: ;
padding-left: 
 }

aside {float: center;
text-align: left;
margin-left: 
margin-right: 
padding-left: ;
padding-right:  }

div {
	float: center
	text-align: center;
	word-wrap: break-word;
  width: ;
  padding-right: ;
  padding-left: ;
	margin-left: : ;
	margin-right: :  } 
 
p {color: #333; font-size: 18px; font-family: Arial; vertical-align: ; padding: ;}
